include ../button/button.pug
include ../textField/textField.pug

mixin dropdown(props)
  -
    const { uniqId, title = "dropdown", description = "", text = "", type = "guests", open = false } = props;
    const listGuests = ['взрослые', 'дети', 'младенцы'];
    const listFurniture = ['спальни', 'кровати', 'ванные комнаты']
    const list = type === 'guests' ? listGuests : listFurniture
  .dropdown(data-type=`${uniqId}-${type}`)
    +textField({id: uniqId, title: title, description: description, value: '', placeholder: 'Сколько гостей', readonly: true, classNames: 'dropdown__main', styles: 'margin-bottom: 17px', dropdown: true})
    //- .material-icons.md-24.dropdown__arrow &#xe5cf;
    div(
      class=type === "guests" ? `dropdown__bottomField ${open ? "" : "dropdown__bottomField--none"}` : `dropdown__bottomField dropdown__furnitureField dropdown__bottomField--none`
    )
      ul.dropdown__list(data-dropdown-list=uniqId) 
        each item, i in list 
          li
            span.dropdown__title= item
            .dropdown__counter 
              - const IdPlusIdx = `${uniqId}-${i}`;
              .dropdown__circle.dropdown__circle--none(data-dropdownbutton=IdPlusIdx, id=IdPlusIdx) -
              .dropdown__count(data-dropdowncounter=IdPlusIdx) 0
              .dropdown__circle(data-dropdownbutton=IdPlusIdx) +
      .dropdown__buttons
        if type === 'guests'
          +button({title: 'очистить', type: 'without', visible: false, data: uniqId})
          +button({title: 'применить', type: 'without', data: uniqId})
