include ../button/button.pug
include ../text-field/text-field.pug

mixin dropdown(props)
  -
    const { uniqId, title = "dropdown", description = "", text = "", type = "guests", open = false, small = false } = props;
    const listGuests = ['взрослые', 'дети', 'младенцы'];
    const listFurniture = ['спальни', 'кровати', 'ванные комнаты']
    const list = type === 'guests' ? listGuests : listFurniture
  .dropdown.js-dropdown(data-type=`${uniqId}-${type}`)
    +text-field({id: uniqId, title: title, description: description, open: open, value: text, small: small, placeholder: 'Сколько гостей', readonly: true, classNames: 'dropdown__main js-dropdown__main', styles: 'margin-bottom: 17px', dropdown: true})
    div(
      class=type === "guests" ? `dropdown__bottom-field ${open ? "" : "dropdown__bottom-field--none"}` : `dropdown__bottom-field dropdown__furniture-field ${open ? "" : "dropdown__bottom-field--none"}`
    )
      ul.dropdown__list.js-dropdown__list(data-dropdown-list=uniqId) 
        each item, i in list 
          li.dropdown__item
            span.dropdown__title= item
            .dropdown__counter 
              - const IdPlusIdx = `${uniqId}-${i}`;
              .dropdown__circle.dropdown__circle--none(data-dropdownbutton=IdPlusIdx, id=IdPlusIdx) -
              .dropdown__count(data-dropdowncounter=IdPlusIdx) 0
              .dropdown__circle(data-dropdownbutton=IdPlusIdx) +
      .dropdown__buttons.js-dropdown__buttons
        if type === 'guests'
          +button({title: 'очистить', type: 'without', visible: false, data: uniqId})
          +button({title: 'применить', type: 'without', data: uniqId})
