mixin checkbox({id = 'uniqIdQSQLK', title = '', rich = false, richText = 'Lorem'})
  .checkbox(class=rich ? "checkbox__rich" : "")
    input.checkbox__input(type="checkbox", id=id)
    label.checkbox__label(for=id)
    span.checkbox__text(class=rich ? "checkbox__text--rich" : "")= title
    if rich
      span.checkbox__rich-text= richText
