mixin textField(props)
  - const { id = "uniqIdTextField", title = "Default", description = "", placeholder = "", value = "", styles = "", classNames = "", arrow = false, small = false, readonly = false, mask = false, dropdown = false, open = false } = props;
  .textField(class=small ? "textField__small" : "")
    .textField__top(class=small ? "textField__top--small" : "") 
      span.textField__title= title
      span.textField__description= description
    div(class=classNames, data-dropdown=dropdown ? id : false)
      input.textField__input(
        class=small ? `textField__input--small ${open ? "dropdown__field--active" : ""}` : `${open ? "dropdown__field--active" : ""}`,
        placeholder=placeholder,
        value=value,
        readonly=readonly,
        date-masked=mask ? "masked" : "simple",
        data-dropdown-input=id,
        id=uniqId
      )
      if dropdown === true
        .material-icons.md-24.dropdown__arrow(class=small ? "dropdown__arrow--small" : "") &#xe5cf;
    if arrow === true
      span.material-icons.md-24.textField__arrow(class=small ? "textField__arrow--small" : "") &#xe5c8;
