mixin textField(props)
  - const { id = "uniqIdTextField", title = "Default", description = "", placeholder = "", value = "", styles = "", classNames = "", arrow = false, small = false, readonly = false, mask = false, dropdown = false } = props;
  .textField
    .textField__top(class=small ? "textField__top--small" : "") 
      span.textField__title= title
      span.textField__description= description
    div(class=classNames, data-dropdown=dropdown ? id : false)
      input.textField__input(
        class=small ? "textField__input--small" : "",
        placeholder=placeholder,
        value=value,
        readonly=readonly,
        date-masked=mask ? "masked" : "simple",
        date-dropdown-input=id,
        id=uniqId
      )
      if dropdown === true
        .material-icons.md-24.dropdown__arrow(class=small ? "dropdown__arrow--small" : "") &#xe5cf;
    if arrow === true
      span.material-icons.md-24.textField__arrow &#xe5c8;
